*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%; /*сбрасываем начальное значение шрифта: он теперь 10px*/
    font-weight: normal;
    color: #FFFFFF;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain; /*не изменяет пропорции*/
    flex-shrink: 0; /*без сжатия*/
}

a {
    text-decoration: none;
    color: inherit;
}

button, input {
    outline: none; /*нет рамки при нажатии*/
    border: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem; /*1300px*/
    margin: 0 auto;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color:#FFFFFF;
    /* width: 18.6rem;
    height: 4.4rem; */
}

/* header */

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 10;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav a:not(:last-child) {
    margin-right: 7.1rem;
}

.header__nav a {
    font-size: 1.6rem;
}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__button {
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
    font-size: 1.6rem;
}

/* main */

.main-display__header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
}

.main-display__timer{
    display: flex;
    margin-bottom: 7.6rem;
}

.main-display__button {
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    font-size: 1.6rem;
}

.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display {
    padding-top: 27rem;
}

.main-display .container{
    position: relative; /*чтобы сработал z-index*/
    z-index: 10;
}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer__item:not(:last-child) {
    margin-right: 3rem;
}

.timer__count {
    font-size: 3.6rem;
}

.timer__text {
    font-size: 1.6rem;
    opacity: 0.4;
}





